
<app-navbar></app-navbar> 











<div class="stricky-header stricked-menu main-menu main-header-two">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<section class="page-header page-header--bg-two" data-jarallax data-speed="0.3" data-imgPosition="50% -100%">
    <div class="page-header__bg jarallax-img"></div><!-- /.page-header-bg -->
    <div class="page-header__overlay"></div><!-- /.page-header-overlay -->
    <div class="container text-center">
        <h2 class="page-header__title">Login</h2><!-- /.page-title -->
        <ul class="page-header__breadcrumb list-unstyled">
                    <li><a (click)="navigateToHome()">Home</a></li>
            
                        <li><span>Login</span></li>
        </ul><!-- /.page-breadcrumb list-unstyled -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
<!-- Login Start -->
<section class="login-page">
    <div class="container">
        <div class="login-page__info">
            <p>We have a demo account setup. <span>Username: demo</span> and <span>
                    Password:</span> <a href="login.html">demo</a></p>
        </div><!-- login-info -->
        <div class="login-page__area">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp animated" data-wow-delay="300ms">
                    <div class="login-page__wrap">
                        <h3 class="login-page__wrap__title">Login</h3>
                        <form class="login-page__form">
                            <div class="login-page__form-input-box">
                                <input type="email" placeholder="Username of email *">
                            </div>
                            <div class="login-page__form-input-box">
                                <input type="password" placeholder="Password *">
                            </div>
                            <div class="login-page__checked-box">
                                <input type="checkbox" name="save-data" id="save-data">
                                <label for="save-data"><span></span>Remember Me?</label>
                                <div class="login-page__forgot-password">
                                    <a href="login.html">Forgot Passowrd?</a>
                                </div>
                            </div>
                            <div class="login-page__form-btn-box">
                                <button type="submit" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Login</button>
                            </div>
                        </form>
                    </div><!-- login-form -->
                </div>
                <div class="col-lg-6 wow fadeInUp animated" data-wow-delay="400ms">
                    <div class="login-page__wrap login-page__wrap--right">
                        <h3 class="login-page__wrap__title">Register</h3>
                        <form class="login-page__form">
                            <div class="login-page__form-input-box">
                                <input type="email" placeholder="Email address">
                            </div>
                            <div class="login-page__form-input-box">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="login-page__checked-box">
                                <input type="checkbox" name="accept-policy" id="accept-policy">
                                <label for="accept-policy"><span></span>I Accept Company Privacy Policy</label>
                            </div>
                            <div class="login-page__form-btn-box">
                                <button type="submit" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Register</button>
                            </div>
                        </form>
                    </div><!-- register-form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login End -->




<app-footer></app-footer> 
